.weekly-calendar {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .calendar-body {
    display: flex;
  }
  
  .day-names {
    width: 100px;
    border: 1px solid yellow;
  }
  
  .day-name {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid green;
  }
  
  .week {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
   
  }
  
  .day {
    height: 79px;
    /* border-bottom: 1px solid black; */
    padding: 10px;
    border: 1px solid red;
   
  }
  
  .date {
    font-weight: bold;
    margin-bottom: 5px;
  }